<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGISTA</title>
    <link rel="stylesheet" href="\styles\main.css">
</head>
<body>

    <!-- <img class="BGImage" src="https://c4.wallpaperflare.com/wallpaper/493/593/197/blue-white-purple-abstract-wallpaper-preview.jpg" > -->
    <h1 class="title">Tweets</h1>

    <form action="/submit" method="post" >
    <div class="tweetFullBox">
        <input class="tweetBox" name="submittedTweets" placeholder="type your tweet" >  <br>
        <button class="btnSubmit" type="submit" >Submit</button>
    </div>
    </form>

    <%- include("partials/footer.ejs") %>
</body>
</html>